# Altium template and backups.
__Previews/*
*.*Preview
*.SchDocPreview
*.schDocPreview
*.PcbDocPreview
*.dfmPreview
*.pasPreview
History/*
*.SchDoc.Zip
*.PrjDoc.Zip
*.PrjScr.Zip
Project Output*/*
*.rep
*.dat
*.Dat
*.dfm
*.pas
*.htm
*.$$$
*.stp
*.Annotation

# Other backups.
*.txt
*.bck
*bak
*~

# Other software to not sync.
*.pdsprj
*.pdsbak
*.workspace
*.xlsx

# Not synchronized folders.
Topologies/*
Based projects/*
